@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cashew-leaf-pattern {
    background-color: #e0d0b7; /* Base cashew-like color */
    background-image: 
      radial-gradient(circle, #A7C957 px, transparent 2px), /* Leaf-green dots */
      radial-gradient(circle, #A7C957 2px, transparent 2px); /* Leaf-green dots */;
    background-size: 40px 40px; /* Adjust the size of the pattern */
    background-position: 20px 20px, 0px 0px; /* Creates an offset grid pattern */
  }